.App {
  text-align: center;
}



.App-header {

  background-image: url('./assets/bricks.jpg');
  background-size: cover;
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 25% 25% 40%;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "bruju mapa mapa player"
    "stats mapa mapa player"
    "objetos terminal terminal control";
}

.miniMapa{
  float: right;
  background-color: orange;
  height: 150px;
  width: 150px;
  z-index: 5;
}

.header { 
  grid-area: header; 
  display: table;
  background-color: #282c34;
  box-shadow: 0px 0px 8px 6px #000000;
}

.header button{
  float: right;
  margin-right: 50px;
  display: inline-block; 
  transform: translateY(-70%);
}

.siteTitle{
  float: center;
  margin: 1em 8em -1.5em 1em;
  color: white;
}

.logo {
  margin: 0.5em 1em 0.5em 2em;
  float: left;
}

.mapa { 
  grid-area: mapa; 
}
.player { 
  grid-area: player; 
  display:flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  transform: scaleY(-10%);
}

.terminal { 
  grid-area: terminal; 
  background-color: #282c34;
}

.log{
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 0px;
  align-self: center;
  border: 1px solid white;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x: hidden; 
}

h3{
  color: white;
}

.control { 
  grid-area: control; 
  opacity: 0.5;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.up { 
  grid-area: up; 
  
}

.down { 
  grid-area: down; 
  
}
.right { 
  grid-area: right; 
  opacity: 0.5;
  background-color: black;
}
.left { 
  grid-area: left; 
  opacity: 0.5;
  background-color: green;

}

.bruju { 
  grid-area: bruju; 
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". nord ."
    "oest imgBruju est"
    ". sud .";
  width: 70%;
  height: 70%;
}

.nord { grid-area: nord; }
.oest { grid-area: oest; }
.sud { grid-area: sud; }
.est { grid-area: est; }
.imgBruju { grid-area: imgBruju; }


.stats { 
  grid-area: stats; 
  background-image: url('./assets/maderita.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.ataque{
  display: flex;
  margin-left: 30%;
  margin-top: 7%;
}

.defensa{
  display: flex;
  margin-left: 30%;
}


.life {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "corasong barrah";
  vertical-align: middle;
}
.corasong { 
  grid-area: corasong;
}
.progress { 
  grid-area: barrah; 
  margin-right: 10px;
  vertical-align: middle;
  margin-top: 3%;  
}



.objetos{
  background-image: url('./assets/papeliko.png');
  background-size: cover;
  grid-area: objetos; 
  height: 125%;
  transform: translateY(-20%);
  display: grid;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  font-style: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  grid-template-areas:
    "obj1 obj2 obj3"
    "obj4 obj5 obj6"
    "explicacion explicacion explicacion";
}

.obj1 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj1 infoObj1";
  grid-area: obj1;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj1 { 
  grid-area: imgObj1; 
 
}
.infoObj1 { 
  grid-area: infoObj1; 
  color: white;
  white-space: nowrap;
}
.obj2 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj2 infoObj2";
  grid-area: obj2;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj2 { 
  grid-area: imgObj2; 

}
.infoObj2 { 
  grid-area: infoObj2; 
  color: white;
  white-space: nowrap;

}
.obj3 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj3 infoObj3";
  grid-area: obj3;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj3 { 
  grid-area: imgObj3; 

}
.infoObj3 { 
  grid-area: infoObj3;
  color: white;
  white-space: nowrap;
}
.obj4 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj4 infoObj4";
  grid-area: obj4;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj4 { 
  grid-area: imgObj4; 

}
.infoObj4 { 
  grid-area: infoObj4;
  color: white;
  white-space: nowrap;
}
.obj5 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj5 infoObj5";
  grid-area: obj5;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj5 { 
  grid-area: imgObj5; 

}
.infoObj5 { 
  grid-area: infoObj5; 
  color: white;
  white-space: nowrap;
}
.obj6 {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgObj6 infoObj6";
  grid-area: obj6;
  background-color: #282c3472;
  border: 5px solid white;
}
.imgObj6 { 
  grid-area: imgObj6;
  
}
.infoObj6 { 
  grid-area: infoObj6;
  color: white;
  white-space: nowrap;
 }
.explicacion { 
  width: 100%;
  height: 100%;
  grid-area: explicacion; 
  
  background-color: #282c3472;
  border: 5px solid white;
}


